<div style="text-align: center;">
    <h1>{{ 'general.greetings.greet' | t }}</h1>
    <p>{{ 'general.text.text' | t }}</p>
    <h3>{{ 'general.today.product' | t: product: product.title }}</h3>
</div>