<header>
    <ul>
        <li>
            {% render 'icon-basket', width: 20, height: 20 %}
        </li>
        <li>
            {%- render 'icon-wish', width: 20, height: 20 -%}
        </li>
        <li>
            {% render 'search-icon' %}
        </li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</header>
